@model Web.Models.Account.ChangePasswordViewModel

@{
    ViewBag.Title = "Change Password";
}

<h2>Change Password</h2>

@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horisontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger alert-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter your password", aria_describedby = "passwordHelpBlock" })
            <small id="passwordHelpBlock" class="form-text text-muted">Enter your current password to confirm changes</small>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Enter new password here", aria_describedby = "passwordHelpBlock" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.NewPasswordConfirm, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.NewPasswordConfirm, new { @class = "form-control", placeholder = "Confirm new password", aria_describedby = "passwordHelpBlock" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-primary" value="Change password" />
        </div>
    </div>
}



