@model Web.Models.Account.LoginViewModel

@{
    ViewBag.Title = "Sign in";
}

<p class="text-center h2">Sign in</p>
<hr />
@if (Request.IsAuthenticated)
{
    <p class="alert alert-danger text-center h3">
        Probably, you have no permission for that action, contact site administrator
    </p>
    <hr />
}
@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form", align="center" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class="text-danger alert-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email)
        <div>
            @Html.TextBoxFor(m => m.Email)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password)
        <div>
            @Html.PasswordFor(m => m.Password)
        </div>
    </div>
    <div class="checkbox">
        <label>@Html.CheckBoxFor(m => m.RememberMe) Remember me</label>
    </div>
    <hr />
    <div class="form-group">
        <input type="submit" class="btn btn-primary btn-lg" value="Sign in" />
    </div>
}
<br />
<h4 class="text-center">@Html.ActionLink("Forgot password?", "ForgotPassword")</h4>

