@model Web.Models.Forum.AddTopicViewModel

@{
    ViewBag.Title = "AddTopic";
}

<h2>Add new Topic</h2>

@if (ViewBag.ForceMessage)
{
    <p class="danger alert-danger text-danger">
        There is another topic with current name!
    </p>
}

@using (Html.BeginForm("AddTopic", "Forum", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.ValidationSummary();
    @Html.AntiForgeryToken();
    @Html.HiddenFor(m => m.ForumId);
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        <div>
            @Html.TextBoxFor(m => m.Name, new { @class="form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Text)
        <div>
            @Html.TextBoxFor(m => m.Text, new { @class = "form-control"})
        </div>
    </div>

    if (ViewBag.ForceMessage)
    {
        <div class="checkbox">
            <label>@Html.CheckBoxFor(m => m.Force) Check this, if you want to create this topic</label>
        </div>
    }
    else
    {
        @Html.HiddenFor(m => m.Force)
    }

    <input type="submit" class="btn btn-primary" value="Add topic" />
    }




